@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Sistema de inventarios asp.net framework</h2>
    <p class="lead">ASP.NET  HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mejora tu rendimiento y tiempo de proceso</h2>
        <p>
            Obtén el método de almacenamiento más eficiente y mejora todas tus operaciones internas.
            El inventario MVC.NET no computa con entradas, salidas o transformaciones de existencias.
            En su lugar, todas las operaciones se consideran movimientos de stock entre ubicaciones
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Menos existencias, sin desabastos</h2>
        <p>
            Utiliza puntos de pedido y Solicitudes de Cotizaciones automatizadas para hacer tu cadena de suministros
            más eficiente que nunca
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Experimenta total trazabilidad</h2>
        <p>Sigue los movimientos de tus existencias desde la compra al almacén y hasta la orden de venta. Localiza lotes o series en sentido ascendente o 
           descendente en cualquier punto de tu cadena de suministro.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>